{% assign sorted_pages = site.pages | sort:"order" | where_exp:"pg","pg.url != page.url and pg.layout == 'property'" %}

{% for page in sorted_pages limit:include.limit %}

<a href="{{page.url}}" class="col">
    <div class="card p-0 h-100">
        <div class="card-img-top property-image border-bottom" style="background-image: url('{{page.images[0]}}')">
        </div>
        <div class="card-body">
            <h4 class="card-title">{{page.title}}</h4>
            <p class="card-text">
                {{ page.content | strip_html | truncatewords: 25 }}
            </p>
        </div>
    </div>
</a>

{% endfor %}