<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="language" content="english">
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()" />
    <meta name="version" content="{{site.ver}}" />

    <title>
        {% if page.title %}
        {{ site.title }} - {{ page.title }}
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>

    <!-- Start Favicons -->
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- End Favicons -->

    <link rel="canonical" href="{{ page.url | absolute_url }}" />

    {% feed_meta %}

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:image:alt" content="{{ page.title }}" />
    {% else %}
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:image:alt" content="{{ site.title }}" />
    {% endif %}
    {% if page.subheading %}
    <meta property="og:description" content="{{ page.subheading }}" />
    <meta name="description" content="{{ page.subheading }}">
    {% else %}
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if page.image %}
    <meta property="og:image" content="{{ page.image | absolute_url }}" />
    {% else %}
    <meta property="og:image" content="{{ '/images/shareimage-min.jpg' | absolute_url }}" />
    {% endif %}

    {% if page.date %}
    <meta property="article:published_time" content="{{page.date | date: '%Y-%m-%d'}}" />
    <meta name="publish_date" property="og:publish_date" content="{{page.date | date: '%Y-%m-%d'}}">
    <meta property="og:type" content="article" />
    {% endif %}

    <meta name="keywords" content="{{ site.keywords }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'css/styles.css' | relative_url }}?{{site.time | date: '%s' }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.gtm-id}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{site.gtm-id}}');
    </script>
</head>

<body>

    {{ content }}


    <header>

        <div class="navbar box-shadow py-4">
            <div class="container d-flex justify-content-between">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img src="/images/logo.png" />
                </a>
                <span class="text-end">
                    <p class="p-0 m-0">
                        Email: <a href="mailto: margherita.cmv65@gmail.com">margherita.cmv65@gmail.com</a>
                    </p>
                    <p class="p-0 m-0">
                        Call: <a href="tel:+35621520102">+356 21520102</a> / <a href="tel:+35699275816">+356
                            99275816</a>
                    </p>

                </span>

            </div>
        </div>
    </header>

    <main role="main">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="banner_image" style="background-image: url('/images/banner/banner_1.jpg');"></div>
                </div>
                <div class="carousel-item">
                    <div class="banner_image" style="background-image: url('/images/banner/banner_2.jpg');"></div>
                </div>
                <div class="carousel-item">
                    <div class="banner_image" style="background-image: url('/images/banner/banner_3.jpg');"></div>
                </div>
                <div class="carousel-item">
                    <div class="banner_image" style="background-image: url('/images/banner/banner_4.jpg');"></div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <section class="jumbotron text-center py-5">
            <div class="container">
                <div class="pb-5">
                    <h1 class="jumbotron-heading">Holidays In Malta</h1>
                    <p class="lead">
                        Holiday properties in the Coastal Resort of Mellieħa
                    </p>
                </div>
                <p>
                    Here you will find a selection of Self Catering Properties, from Villas and apartments with
                    private
                    and shared Pools. Our Selected properties offers the best facilities one would require for a
                    comfortable holiday.
                </p>
                <p>
                    We do our best to make sure that all residents staying in our properties have the best service
                    and acquire the best value for money.
                </p>
                <p>
                    We invite you to click on the Properties and take a look at our selected villas and apartments.
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                    <div class="col">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="height: 225px; width: 100%; display: block;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17ff46f3752%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17ff46f3752%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.75%22%20y%3D%22123.6%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                <h3>Villa Margherita</h3>
                                Set on elevated grounds Margherita Villa Apartments enjoy superb panoramic views of
                                Mellieha Bay...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="height: 225px; width: 100%; display: block;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17ff46f3752%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17ff46f3752%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.75%22%20y%3D%22123.6%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                <h3>Villa Margherita</h3>
                                Set on elevated grounds Margherita Villa Apartments enjoy superb panoramic views of
                                Mellieha Bay...
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" style="height: 225px; width: 100%; display: block;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22508%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20508%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17ff46f3752%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17ff46f3752%22%3E%3Crect%20width%3D%22508%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22169.75%22%20y%3D%22123.6%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                data-holder-rendered="true">
                            <div class="card-body">
                                <p class="card-text">
                                <h3>Villa Margherita</h3>
                                Set on elevated grounds Margherita Villa Apartments enjoy superb panoramic views of
                                Mellieha Bay...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="text-white py-4">
        <div class="container">
            <p class="p-0 m-0">Copyright © holidaysinmalta.com</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{{ 'js/script.js' | relative_url }}?{{site.time | date: '%s' }}"></script>
</body>

</html>