---
layout: default
---

<div class="container py-5">
    <div>
        <h1 class="jumbotron-heading">{{page.title}}</h1>
        <p class="lead">
            {{page.subtitle}}
        </p>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div id="carouselExampleIndicators" class="carousel slide pb-3" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for item in page.images %}
                    {% assign imgIndex = forloop.index0 %}
                    {% if imgIndex == 0 %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{imgIndex}}"
                        class="active"></button>
                    {% else %}
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{imgIndex}}"
                        class=""></button>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for item in page.images %}
                    {% assign imgIndex = forloop.index0 %}
                    {% if imgIndex == 0 %}
                    <div class="carousel-item active">
                        <div class="banner_image large" style="background-image: url('{{item}}');"></div>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <div class="banner_image large" style="background-image: url('{{item}}');"></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="pb-3">
                {{content}}
            </div>
            {% for unit in page.units %}
            {% assign unitIndex = forloop.index0 %}

            <div class="card mb-5">
                <div class="card-header">
                    {{unit.name}}
                </div>
                <div class="card-body">

                    <p>{{unit.description}}</p>

                    <div id="carouselExampleIndicators{{unitIndex}}" class="carousel slide"
                        data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for item in unit.images %}
                            {% assign imgIndex = forloop.index0 %}
                            {% if imgIndex == 0 %}
                            <button type="button" data-bs-target="#carouselExampleIndicators{{unitIndex}}"
                                data-bs-slide-to="{{imgIndex}}" class="active"></button>
                            {% else %}
                            <button type="button" data-bs-target="#carouselExampleIndicators{{unitIndex}}"
                                data-bs-slide-to="{{imgIndex}}" class=""></button>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for item in unit.images %}
                            {% assign imgIndex = forloop.index0 %}
                            {% if imgIndex == 0 %}
                            <div class="carousel-item active">
                                <div class="banner_image" style="background-image: url('{{item}}');"></div>
                            </div>
                            {% else %}
                            <div class="carousel-item">
                                <div class="banner_image" style="background-image: url('{{item}}');"></div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleIndicators{{unitIndex}}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleIndicators{{unitIndex}}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-12 col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    Facilites
                </div>
                <div class="card-body small">
                    <ul>
                        {% for item in page.facilities %}
                        <li>{{item}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Location
                </div>
                <div class="card-body small">
                    <ul>
                        {% for item in page.location %}
                        <li>{{item}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="properties py-5 bg-light">
    <div class="container">
        <div class="text-center pb-5">
            <h3>Other Properties</h3>
            <h5>
                We invite you to click on other properties if this is not the right one for you.
            </h5>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
            {% include properties.html limit=3 %}
        </div>
    </div>
</div>