---
---

$primary: #00a9a8;
$secondary: #eea11f;
// $info: #4E4EF2;
// $success: #41f284;
// $warning: #f2d035;
// $danger: #f26d66;
// $light: #F2F2F2;
// $dark: #23272A;

@import "bootstrap/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

$primary: #00a9a8;
$secondary: #eea11f;

html,
body {
}

.btn:focus,
button,
button:focus {
    box-shadow: none !important;
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

a {
    text-decoration: none;


    &:hover {
        text-decoration: underline;
    }
}

:root {
    --jumbotron-padding-y: 3rem;
}

.property-image {
    height: 225px;
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center center;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

footer {
    background: $primary;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.banner_image {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    height: 300px;

    &.large {
        height: 450px;
    }
}

.properties a {
    opacity: 0.9;
    color: rgb(80, 79, 79);
}

.properties a:hover {
    text-decoration: none;
    opacity: 1;
    color: #000;
}

header img {
    max-width: 100%;
}
