---
---

$primary: #00a9a8;
$secondary: #eea11f;

html,
body {
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $primary;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

footer {
    background: $primary;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.banner_image {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    height: 300px;
}

.properties a {
    opacity: 0.9;
    color: rgb(80, 79, 79);
}

.properties a:hover {
    text-decoration: none;
    opacity: 1;
    color: #000;
}
