---
layout: default
---

<main role="main">
    {% include banner.html %}

    <section class="jumbotron text-center py-5 border-bottom">
        <div class="container">
            <div class="pb-5">
                <h1 class="jumbotron-heading">Holidays In Malta</h1>
                <p class="lead">
                    Holiday properties in the Coastal Resort of Mellieħa
                </p>
            </div>
            <p>
                Here you will find a selection of Self Catering Properties, from Villas and apartments with
                private
                and shared Pools. Our Selected properties offers the best facilities one would require for a
                comfortable holiday.
            </p>
            <p>
                We do our best to make sure that all residents staying in our properties have the best service
                and acquire the best value for money.
            </p>
            <p>
            </p>
        </div>
    </section>

    <div class="properties py-5 bg-light">
        <div class="container">
            <div class="text-center pb-5">
                <h3>Our Properties</h3>
                <h5>
                    We invite you to click on the properties and take a look at our selected villas and apartments.
                </h5>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-3">
                {% include properties.html %}
            </div>
        </div>
    </div>
</main>